.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--couleur-rouge);
  overflow: scroll;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.category-container:hover {
  cursor: pointer;
}
.logo-img {
  width: 350px;
  height: 100px;
}

.homepage-title {
  margin: 2rem;
  font-family: "montserrat", sans-serif;
  color: white;
  border: dashed 4px var(--couleur-jaune);
  padding: 1rem;
}

.homepage-text {
  font-weight: 300;
  color: white;
}
